name: executorboard

services:
  postgres:
    image: postgres:18
    env_file:
      - .env
    volumes:
      - executorboard_pg18_db_data:/var/lib/postgresql
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - executorboard_redis_data:/data

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - "5050:80"
    volumes:
      - executorboard_pgadmin_data:/var/lib/pgadmin

volumes:
  executorboard_pg18_db_data:
  executorboard_redis_data:
  executorboard_pgadmin_data:
